.Rproj.user
.Rhistory
.RData
.DS_Store
kindlegen*
_book
rsconnect
CMake*
Makefile
_bookdown.yml
cover.tex
build-book.sh
cmake_install.cmake
rstudio-server-pro-*-admin-guide.*
_main.html
*.zip

.quarto/
*_cache/
_site
/.quarto/
